{% extends 'base.html' %}
{% block content %}

{% comment %} HOME {% endcomment %}
<section class="home center" id="home">
    <h1 class="">Welcome to GADDITE EXPRESS LLC</h1>
    <hr />
    <p class="prior center">Your Satisfactory Is Our Priority</p>
</section>
{% comment %} ABOUT {% endcomment %}
<section class="about center" id="about">
    <h2>About Us</h2>
    <p>Since opening our doors,</p>
    <p>we've been committed to providing</p>
    <p>service of the highest quality</p>
</section>
{% comment %} CONTACT US {% endcomment %}
<section class="contact"id="contact">
    <h2 class="center">Contact Us</h2>
    <div>
        <p>Phone Number: <span><a class="bold" href="tel:8888485220">(888)-848-5220</a></span></p>
        <p>Email: <span><a class="email" href="mailto:" target="_blank" class="email">austin.wilson@gadditeexpressllc.com</a></span></p>
        <p>Address: <span><a class="bold" href="http://maps.google.com/maps?q=3753+Howard+Hughes+Parkway+Suite+200,+Las+Vegas,+NV+89169" target="_blank">3753 Howard Hughes Parkway Suite 200 Las Vegas, NV 89169</a></span></p>
    </div>
</section>

<a href="{% url 'add_message' %}"><button class="material-icons" id="email">email</button></a>

{% endblock %}