body {
    background: url("../images/truck.jpg");
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/* nav */
.options {
    color: rgba(96,28,33);
}

.brand-logo {
    margin: 10px 0 0 0;
}

/* home */
.home {
    color: rgba(96,28,33);
}

.home h1 {
    font-weight: 400;
    margin: 50px 0 25px 0;
}

.home p {
   font-size: 24px;
   margin: 25px 0 25px 0;
}

/* about */
.about {
    color: rgba(96,28,33);
}

.about h2 {
    font-weight: 300;
    margin: 40px 0 20px 0;
}

/* contact */
.contact {
    color: rgba(96,28,33);
}

.contact h2 {
    font-weight: 300;
}

/* email */
#email {
    position: fixed;
    bottom: 70px;
    left: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(96,28,33);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; 
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}
  
main {
    flex: 1 0 auto;
}

/* footer */
footer {
    padding-top: 0;
    text-align: right;
}

